/* 用于包裹轮播图的外层容器 */
.carousel-container {
  text: right;
  display: flex;
  justify-content: flex-end;
  width: 90%; /* 容器宽度 */
  height: auto; /* 或者指定高度 */
  margin: auto; /* 自动外边距也有助于居中 */
  padding: 20px; /* 内边距 */
}

/* 轮播图样式 */
.slick-slider {
  display: inline-block;
  width: 80%; /* 轮播图的宽度 */
  max-width: 800px; /* 最大宽度 */
  object-fit: cover;
}

/* 图片样式 */
.slick-slide img {
  width: 100%;
  height: auto; /* 固定高度 */
}

/* 响应式设计 */
@media (max-width: 768px) {
  .slick-slider {
    width: 95%; /* 在较小屏幕上调整宽度 */
  }
}
